@import "/css/reset.css";
@import "/css/header/header.css";
@import "/css/header/navbar.css";
@import "/css/main/main.css";

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  font-size: 16px;
  overflow-x: auto;
  overflow-y: scroll;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
