#SITE_CONTAINER {
  position: relative;
}

#HEADER-WEAPPER {
  width: 100%;
  grid-area: 1/1/2/2;
  left: 0px;
  margin-left: 0;
  min-width: 980px;
}

[data-mesh-id="HEADERinlineContent"] {
  display: flex;
  position: relative;
  height: auto;
  pointer-events: none;
  width: 100%;
}

[data-mesh-id="HEADERinlineContent-gridContainer"] {
  width: 100%;
  position: static;
  display: grid;
  min-height: auto;
  margin-bottom: -2px;
  grid-template-rows: repeat(9, min-content) 1fr;
  grid-template-columns: 100%;
}

[data-mesh-id="HEADERinlineContent-gridContainer"] > #subtitle-content-gird,
[data-mesh-id="HEADERinlineContent-gridContainer"] > #title-content-gird {
  position: relative;
  justify-self: start;
  align-self: start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: start;
  width: 980px;
  left: 0px;
  height: auto;
  pointer-events: none;
}

[data-mesh-id="HEADERinlineContent-gridContainer"] > #subtitle-content-gird {
  margin: 39px 0px 8px calc((100% - 980px) * 0.5);
  grid-area: 1 / 1 / 2 / 2;
}

[data-mesh-id="HEADERinlineContent-gridContainer"] > #title-content-gird {
  margin: 0px 0px 51px calc((100% - 980px) * 0.5);
  grid-area: 2 / 1 / 3 / 2;
}

p.font_1 {
  text-align: center;
  line-height: 2em;
  font-size: 22px;
  margin: 0;
}

p.font_1 > span {
  letter-spacing: 0.4em;
}

p.font_0 {
  text-align: center;
  font-size: 116px;
  line-height: normal;
  letter-spacing: normal;
  pointer-events: auto;
}
