#nav-content {
  z-index: 5;
  width: 100%;
  padding: 0px 30px;
}

.navbar #nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .menu-list {
  display: inline-flex;
}

#nav-content {
  padding: 10px 0;
  border-top: 2px solid #ecf0fb;
  border-bottom: 2px solid #ecf0fb;
}

.menu-list li {
  list-style: none;
  pointer-events: auto;
}

.menu-list li a {
  color: #ecf0fb;
  font-size: 18px;
  margin-left: 70px;
}
